
  <div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="card">
                <h1 class="title">Leasing</h1>
                <form>
                    <div id="t-first" class="one-half">
                        <label id="text" for="exampleInputEmail1" class="form-label">Activo</label>
                    </div>
                    <div class="one-half" >
                        <select formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >   
                            <option *ngFor="let cat of activo" [value]="">
                               
                            </option>    
                        </select>              
                    </div>
                    <div id="t" class="one-half">
                        <label id="text" for="exampleInputEmail1" class="form-label">Prestamo</label>
                    </div>
                    <div class="one-half" >
                        <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >                  
                    </div>
                    <div id="t" class="one-half">
                        <label id="text" for="exampleInputEmail1" class="form-label">Tasa(%)</label>
                    </div>
                    <div class="one-half" >
                        <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >                  
                    </div>
                    <div id="t" class="one-half">
                        <label id="text" for="exampleInputEmail1" class="form-label">Capitalizacion</label>
                    </div>
                    <div class="one-half" >
                        <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >                  
                    </div>
                    <div id="t" class="one-half">
                        <label id="text" for="exampleInputEmail1" class="form-label">Tiempo</label>
                    </div>
                    <div class="one-half" >
                        <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >                  
                    </div>
                    <div id="t" class="one-half">
                        <label id="text" for="exampleInputEmail1" class="form-label">Periodo de Gracia</label>
                    </div>
                    <div class="one-half" >
                        <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >                  
                    </div>
                    <div id="t-first" class="one-half.last">
                        <label id="text" for="exampleInputEmail1" class="form-label">Arrendador</label>
                    </div>
                    <div class="one-half.last" >
                        <select formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >    
                            <option >
                               
                            </option>
                        </select>                    
                    </div>
                    <div id="t" class="one-half.last">
                        <label id="text" for="exampleInputEmail1" class="form-label">Moneda</label>
                    </div>
                    <div class="one-half.last" >
                        <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >                  
                    </div>
                    <div id="t" class="one-half.last">
                        <label id="text" for="exampleInputEmail1" class="form-label">Tipo de Tasa</label>
                    </div>
                    <div class="one-half.last" >
                        <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >                  
                    </div>
                    <div id="t" class="one-half.last">
                        <label id="text" for="exampleInputEmail1" class="form-label">Tiempo de tasa</label>
                    </div>
                    <div class="one-half.last" >
                        <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >                  
                    </div>
                    <div id="t" class="one-half.last">
                        <label id="text" for="exampleInputEmail1" class="form-label">N° Periodos</label>
                    </div>
                    <div class="one-half.last" >
                        <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >                  
                    </div>
                    <div id="t" class="one-half.last">
                        <label id="text" for="exampleInputEmail1" class="form-label">N° Periodos de gracia</label>
                    </div>
                    <div class="one-half.last" >
                        <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >                  
                    </div>
                    <br/>
                    <span>¿El periodo de gracia es parte de los periodos?    </span> <input type="radio" name="radio">  Si  <input type="radio" name="radio">  No
                    <br/>
                 <button id="loguser" type="submit" class="btn btn-primary"><span>Calcular</span><i class="button__icon fas fa-chevron-right"></i></button>
               </form>
            </div>
        </div>
    </div>
  </div>
  
  
