<div>
  <title>Lease It</title>
  <div class="banner">
    <div class="navbar">
      <img src="assets/img/log.png" class="logo">
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="#">Leasing</a></li>
      </ul>
    </div>
    <div class="content">
      <h1>LEASE IT</h1>
      <img src="assets/img/home.png" class="image">
      <p>El Leasing Financiero es un tipo de contrato de arrendamiento con opción de compra mediante </p>
      <p>el cual una entidad otorga financiamiento a una empresa para adquirir activos. </p>
      <div>
        <button type="button" routerLink="/final-output"><span></span>LEASE IT</button>
      </div>
    </div>
  </div>
</div>
